<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path_0</key>
	<array>
		<array>
			<string>{0,0}</string>
			<string>{0, 192}</string>
			<string>{767, 191}</string>
			<string>{767, 319}</string>
			<string>{1023, 319}</string>
			<string>{1023, 0}</string>
		</array>
	</array>
	<key>path_1</key>
	<array>
		<array>
			<string>{0, 0}</string>
			<string>{0, 319}</string>
			<string>{191, 319}</string>
			<string>{191, 0}</string>
		</array>
	</array>
</dict>
</plist>
